---
title: "Quality Assessor — Manager Ads & Créa"
date: 2025-08-12
tags: ["post","team-bot"]
layout: layouts/post.njk
permalink: /publications/equipes/ads/qa/
---
