---
permalink: /404.html
eleventyExcludeFromCollections: true
layout: false
---
<!doctype html><meta charset="utf-8">
<title>Page introuvable</title>
<h1>404</h1>
<p>Oups. Cette page n’existe pas.</p>
<a href="/">Retour à l’accueil</a>
