---
title: Page introuvable
layout: layouts/base.njk
permalink: /404.html
eleventyExcludeFromCollections: true
---
<h1>Page introuvable</h1>
<p>Oups, cette page n’existe pas. <a href="{{ '/' | url }}">Retour à l’accueil</a>.</p>
