---
title: Accueil
layout: layouts/base.njk
permalink: /
---
<h1>Bienvenue 👋</h1>
<p><a href="{{ '/publications/' | url }}">Voir les publications →</a></p>
<p><a href="{{ '/publications/equipes/' | url }}">Voir les équipes →</a></p>
---
layout: false
---
<h1>Hello Eleventy 🚀</h1>
<p>Ça déploie sur GitHub Pages !</p>
