---
layout: base.njk
title: Accueil
description: Démonstration Eleventy + GitHub Pages
---
<h1>Hello Eleventy 🚀</h1>
<p>Si tu lis ça en ligne, le déploiement fonctionne.</p>
<p><a href="{{ site.url }}/sitemap.xml">Sitemap</a></p>
