---
title: Équipes
layout: layouts/base.njk
permalink: /publications/equipes/
---
<h1>Équipes</h1>
<ul>
{% for m in collections["team-manager"] | reverse %}
  <li><a href="{{ m.url | url }}">{{ m.data.title }}</a></li>
{% endfor %}
</ul>
