---
title: Équipes
layout: layouts/base.njk
permalink: /publications/equipes/
---
<h1>Équipes</h1>
<ul>
{% for p in collections.teamManagers %}
  <li><a href="{{ p.url | url }}">{{ p.data.title }}</a></li>
{% endfor %}
</ul>
